
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");



// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar{
  background-color: #272727 !important; 
  // padding-bottom: 1%;
}

.PostCard{
  float:left;
  margin: 1.5%;
  background: whitesmoke;
  width: 50%;
  height: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubis-bezier(.25,.8,.25,1)
}

.btn-info{
  background-color: #000000;
  border-color: #4F4E4D;
}

.btn-info:hover{
  background-color: #E18325;
  border-color: #F0B376;
}

.splash, .aboutSplash{
    position:relative;
    width: 100%;
    height: 60vh;
    background-image:url('https://images.pexels.com/photos/374631/pexels-photo-374631.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .splash-text{
    position: absolute;
    top: 33%;
    width: 100%;
    text-align:center;
    color:#fff;
    text-transform: uppercase;
  }

  .aboutSplash{
    background-image: linear-gradient(0deg,rgba(45, 132, 224, 0.507),rgba(45, 96, 172, 0.541)),url('https://images.pexels.com/photos/466685/pexels-photo-466685.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');    
  }

  .top-header{
    font: 600 55px/1.2em 'Josefin Sans',sans-serif !important;
  }

   .bottom-header{
    font-size: 40px;
  }

  .about-header{
    font-size: 50px;
  }

  .about-summary{
    // font-weight: bold;
    font-size: 30px;
  }

  #topic-header{
    color: rgb(155, 153, 151);
    display: inline-block;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .postcard-img{
    margin: 10px;
  }

  .postcard-body{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    width: 100%;
  }
